/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "CaslonAntique";
  src: url("./fonts/CaslonAntique.eot"); /* IE9 Compat Modes */
  src: url("./fonts/CaslonAntique.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/CaslonAntique.otf") format("opentype"), /* Open Type Font */
    url("./fonts/CaslonAntique.svg") format("svg"), /* Legacy iOS */
    url("./fonts/CaslonAntique.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/CaslonAntique.woff") format("woff"), /* Modern Browsers */
    url("./fonts/CaslonAntique.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "CaslonAntique-Italic";
  src: url("./fonts/CaslonAntique-Italic.eot"); /* IE9 Compat Modes */
  src: url("./fonts/CaslonAntique-Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/CaslonAntique-Italic.otf") format("opentype"), /* Open Type Font */
    url("./fonts/CaslonAntique-Italic.svg") format("svg"), /* Legacy iOS */
    url("./fonts/CaslonAntique-Italic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/CaslonAntique-Italic.woff") format("woff"), /* Modern Browsers */
    url("./fonts/CaslonAntique-Italic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "CaslonAntique-Bold";
  src: url("./fonts/CaslonAntique-Bold.eot"); /* IE9 Compat Modes */
  src: url("./fonts/CaslonAntique-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/CaslonAntique-Bold.otf") format("opentype"), /* Open Type Font */
    url("./fonts/CaslonAntique-Bold.svg") format("svg"), /* Legacy iOS */
    url("./fonts/CaslonAntique-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/CaslonAntique-Bold.woff") format("woff"), /* Modern Browsers */
    url("./fonts/CaslonAntique-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}


/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "CaslonAntique-BoldItalic";
  src: url("./fonts/CaslonAntique-BoldItalic.eot"); /* IE9 Compat Modes */
  src: url("./fonts/CaslonAntique-BoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/CaslonAntique-BoldItalic.otf") format("opentype"), /* Open Type Font */
    url("./fonts/CaslonAntique-BoldItalic.svg") format("svg"), /* Legacy iOS */
    url("./fonts/CaslonAntique-BoldItalic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/CaslonAntique-BoldItalic.woff") format("woff"), /* Modern Browsers */
    url("./fonts/CaslonAntique-BoldItalic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
