<!-- author box -->
<div class="ui segment">
    <div class="ui items">
        <div class="item">
            <a class="ui circular tiny image">
                <img src="/assets/img/profile.png">
            </a>
            <div class="content">
                <a class="header">Bobo Glaukon</a>
                <div class="description">
                    <p>Never let it be said that Bobo Glaukon was a disloyal
                    servant of Athena.</p>
                </div>
            </div>
        </div>
    </div>
</div>
